
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', system-ui, sans-serif;
  background: linear-gradient(145deg, #0b1120, #1a2639);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: background 0.3s;
  padding: 1rem;
}

.title{
  width: 60%;
  height:15rem;
  border-radius: 12px;
  display:flex;
  flex-direction:column;
  text-align:center;
  justify-content:center;
  background-color:rgba(71, 61, 61, 0.7);
  margin-bottom: 6rem;
  box-shadow: 2px 3px 6px rgb(233, 234, 228);
 
 
}

h1{
  padding:2rem;
  text-align:center;
  padding:40px 0px;
  font-size:50px;
  color:#000;
  letter-spacing:2px;
  word-spacing:3px;
  font-family: "New Roman", sans-serif;
  font-weight:300;  
}
.underline{
  width: 15rem;
  height:2px;
  background-color:orangered;
  margin-left: 29.6rem;
  margin-bottom:3rem;
  word-spacing: 10px;
}
.button-bar {
  display: flex;
  gap: 3.5rem;
  justify-content: center;
  margin-bottom: 7rem;
}

.button-bar button {
  background: rgba(255, 255, 255, 0.08);
  border: 2px solid rgba(255, 215, 0, 0.6);
  color: #ffd966;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.6rem 2rem;
  border-radius: 50px;
  cursor: pointer;
  backdrop-filter: blur(8px);
  transition: 0.3s;
  letter-spacing: 1px;
  box-shadow: 0 0 15px rgba(250, 204, 21, 0.3);
}


body.light .button-bar button {
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #1e4a7a;
  color: #0b2b44;
  box-shadow: 0 0 10px #1e4a7a;
}

.button-bar button:hover {
  transform: scale(1.06);
  background: rgba(255, 215, 0, 0.2);
  border-color: #facc15;
  color: #facc15;
}

.clock-container {
  background: rgba(15, 25, 45, 0.6);
  backdrop-filter: blur(14px);
  border-radius: 20px;
  padding: 3rem 4rem;
  box-shadow: 2px 3px 6px rgb(233, 234, 228);
  text-align: center;
  width: 60%;
  height:15rem;
  margin-top:-4rem;
  transition: 0.3s;
}

.time {
  font-size: 5rem;
  font-weight: 500;
  font-family: 'Courier New', monospace;
  color: #fde047;
  text-shadow: 0 0 40px rgb(125,143,13);
  line-height: 1.2;
}

.date {
  font-size:25px;
  color:#fde047;
  text-transform: capitalize;
  font-weight: 200;
  letter-spacing: 2px;
  word-spacing: 4px;
  margin-top: 45px;
  text-shadow: 1px 1px 3px #222;;
}
body.light {
  background: rgba(0, 0, 0, 0.2);
 
}

body.light .project-title {
  color: #0f3b5e;
  text-shadow: 0 0 10px #000;
}

body.light .clock-container {
  background: rgba(241, 228, 228, 0.898);
  border: 2px solid #0f3b5e;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

body.light .time {
  color: #1e3a8a;
  text-shadow: 0 0 20px #3b82f6;
}

body.light .date {
  color: #070db0;
  border-top-color: #1e4a7a;
}
@media (max-width: 550px) {
  .title {
    font-size: 2.2rem;
  }
  .time {
    font-size: 3.5rem;
  }
  .date {
    font-size: 1.3rem;
  }
  .button-bar button {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }
}